/* все отступы на странице(которые по бокам)*/
*{
    margin: 0px;
    padding: 0px;
}
/* (это всё можно применять для объъетов которые занимаю 100% экрана 
на подобии <div>, <p>, заголовки <h1,2...> )
 можно указывать в процентах
высота  height: 200px;
ширина  width: 200px;
сплошная обводка border: 2px solid blue; 
               прирывистая - dashed
               круглишками - dotted
               двойная     - double
обводка только с 1 сторны (в данном случае левая )
border-left: 7px solid blue;                       
отключили обводку снизу border-bottom: 0;
отдельно можно прописать стиль для каждой стороны 
в данном случае сверху border-top-style: dashed ;
скругление углов border-radius: 50px 30px;
также можно отдельно указывать скругления 
для каждого угла или диагональных углов
(номер угла идёт по часовой стрелке )
прозрачность opacity: 0.5;
внешние отступы margin: 20px;(можно указывать сторны )
(раюотает кст так же как  скруглением )

внутренние отступы padding: 20px;

при помощи display:(inline-линия, block-блок) ;
 можно указать тип объекта  (строчный блок и вроде как таблица и тд)
*/

.block {
    background: red;
    height: 200px;
    width: 200px;
    border: 7px solid blue;
    border-bottom: 0;
    border-top-style: dashed ;
    border-style: double;
    border-radius: 15px 50%;
    opacity: 0.9;
    margin: 20px 50px;
    padding: 20px 50px;

    display: block;
}           