*{
    padding: 0px;
    margin: 0px;
}
/* настройка простейшей адаптивности 
при помощи этого(@media) свойства мы
обращаемся вроде ко всем 
а дальше уже команад 
((min-width:500px)) при помощи которой мы задаём минимальную ширину блока
(в данном случае)*/

@media (min-width:500px){


/*
dispay:flex;) вроде благодаря этом в данном случает 
блоки выстраиваются горизонтальнойлинией сверху
(align-items: flex-start|center|flex-eng;) размер блока по его содержанию
 а не общий
 за положение блоков на странице есть 
 (flex-direction: column|row-reverse|column-reverse|row;) */
 .container-1 /*.container-2*/ { 
    display: flex;
    align-items: stretch;
    flex-direction: row;
}

/*при помощи 
(justify-content: flex-start | flex-end | center | space-between | space-around;)
можно 
(    flex-start (по умолчанию) - элементы прижимаются к началу строки;
    flex-end - элементы прижимаются к концу строки;
    center - элементы располагаются по центру вдоль строки;
    space-between - элементы размещаются равномерно на линии; первый элемент находится в начале строки, последний элемент находится в конце строки;
    space-around - элементы размещаются равномерно на линии с одинаковым пространством возле них. Обратите внимание, что визуально пространство не одинаковое, так как у всех элементов одинаковое пространство с обеих сторон. У первого элемента будет одна единица пространства со стороны контейнера, но две единицы между ним и следующим элементом, потому что у следующего элемента также по одной единице с двух сторон.
))*/
/*.container-2{
    justify-content: space-around;
    
}*/
}

.container-2{
    display: flex;
}

/* адаптивность 
при помощи (flex-wrap:nowrap|wrap|wrap-reverse)
можно регулироват ькак блоки будут вести себя в контейнер 
(в строку,на нескольких строках,на несколько строках но снизу вверх )*/

.container-2{
    justify-content: space-between;
    flex-wrap: wrap ;
}

.container-1 div, .container-2 div{
    padding: 10px;
    border: 1px solid black;
}

/*размеры блока
(flex:1|2|3и тд)
размеры блока блока на странице 
(order:1|2|3 и тд)
если я правильно понял то при указании 
order нужно присваивать всем блокам номера
(номера могут повторятся но в таком случае
они идут в порядке дивов)   */
.box-1{
flex: 2;
order: 1;
}

.box-2{
flex: 2;
order: 2;
}

.box-3{   
flex: 1;
order: 3;
;}

/*
аналог(width)
или по просут ширина 
*/
.box{
flex-basis:20%;

}

